@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(255, 255, 255);
  --foreground-rgb: rgb(0, 0, 0);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255, 255, 255);
    --background-rgb: rgb(10, 9, 8);
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

::selection {
  color: var(--background-rgb);
  background: #a9947d;
}

p {
  margin: 0px;
  padding: 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tooltiptext {
  visibility: hidden;
  width: fit-content;
  line-height: 16px;
  color: #fff;
  background-color: black;
  border-radius: 4px;
  padding: 0px 5px;
  margin: 0px;
  font-size: 12px;
  text-wrap: nowrap;

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.mobileHeader {
    display: none;
}

@media only screen and (max-width: 1118px) {

  .mobileHeader {
    display: block;
  }

  .deskHeader {
    display: none;
  }

  .about {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .about-content {
    align-items: center;
    justify-content: space-around;
    align-self: center;
    text-align: center;
  }

  .about-img {
    margin-top: 90px;
  }

  .services, .testimonial {
    display: flex;
    flex-direction: column;
  }

  .services-child {
    width: 100%;
    margin-top: 30px;
    max-width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
  }

}
.social {
  width: 400px;
}

@media only screen and (max-width: 460px) {
  .headerText {
    font-size: 24px;
  }
  .social {
    width: 300px;
  }

  .intro {
    padding-top: 120px
  }
}